# Python
__pycache__

# Python virtualenv
venv
venv*
venv_*
bin
cd
lib
pyvenv.cfg

# Python packaging
dist
massa_test_framework.egg-info

# Ruff
.ruff_cache

# Mypy
.mypy_cache

# Sphinx
doc/_build

# IDE
.idea
.vscode

kubeconfig*

